@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap");

.phlt {
    width: 70%;
    display: block;
}
.phprt {
    background: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 1%;
    overflow: hidden;
    padding-left: 1%;
}

.phprt div:nth-child(1) {
width: 85%;
display: block;
}


.phprt a {
    font-size: var(--rem105);
    display: inline;
    max-width: 80%;
    margin: 0;
}

.phcont h1 {
    font-size: calc(var(--rem2) * 1.25);
    display: inline-block;
    color: white;
    font-family: sans-serif;
}
.phcont h2 {
    display: inline-block;
    white-space:break-spaces;
    color: white;
    font-family: sans-serif;
    font-size: calc(var(--rem1) * 1.25);
}

.phprt b {
    color: rgb(5, 5, 219);
    font-weight: 600;
    display: inline;
}

.phprt .im2 {
    width: 15%;
    height: calc(var(--rem5) * 1.6);
    border-radius: 5%;
    overflow: hidden;
}

.im2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: super;
}

.phrt {
    width: 18%;
    float: right;
    margin-left: 0;
    margin-right: 0;
}

.phrt img {
    width: 95%;
    display: block;
    padding: 2%;
}

.phc1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
